body {
    background-image: url(/images/mountatin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
}

*{
    margin:0;
    padding: 0;
}

.form-container {
    opacity: 0.8;
    width: 100%;
    background-color: #ccc;
    max-width: 400px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 7px 6px rgba(18, 18, 18, 0.5);
}

h1 {
    color: rgb(20, 20, 22);
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

label {
    display: block;
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input {
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
}

button {
    background-color: #0e0e0e;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

.password-container {
    position: relative;
}

.toggle-visibility {
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

.toggle-visibility:hover {
    color: #333;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}